RAILS_ENV=production
APP_HOST=prompt-validator-project.onrender.com
DATABASE_URL=postgresql://neondb_owner:npg_w7fPHc4IBtKa@ep-delicate-shadow-aq2tk4f6-pooler.c-8.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
SECRET_KEY_BASE=
RAILS_MASTER_KEY=

GROQ_API_KEY=
GROQ_MODEL=llama-3.1-8b-instant

PERPLEXITY_API_KEY=
PERPLEXITY_MODEL=sonar-pro

SOLID_QUEUE_IN_PUMA=true
RAILS_LOG_LEVEL=info
